<% layout("layout/boilerplate") %>
    <h3 class="text-center my-3 text-white">Selling <%= data.symbol %>
    </h3>
    <form class="container col-6" action="/stocks/<%= data.symbol %>/sell" method="POST" class="validated-form"
        novalidate>
        <div class="mb-3">
            <label for="qty" class="form-label text-white">Enter the quantity: </label>
            <input type="number" id="qty" name="stock[quantity]" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="amt" class="form-label text-white">Enter the selling price:</label>
            <input type="text" name="stock[amount]" id="amt" class="form-control" required>
        </div>
        <div class="mb-3 text-white">Current Price = <%= data.lastPrice %>
        </div>
        <button type="submit" class="btn btn-danger">Sell</button>
    </form>
    <footer class="footer bg-dark py-3 fixed-bottom mt-auto">
        <div class="container">
            <span class="text-muted">&copy; VTradeIN</span>
        </div>
    </footer>